* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color:rgb(72, 104, 220);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
    background-color: white;
    box-sizing:border-box;
}

.grid-square {
    box-sizing:border-box;
    border: 1px solid greenyellow;
    margin: 0;
}